.registerFormWrapper {
  margin: 90px auto;
  max-width: 500px;
  padding: 20px 20px;
  border-radius: 10px;
  border: 1px solid gray;
  color: gray;
   button {
    width: 100%;
   }
   a{
    color: #9f7aea;
   }
}

.registerFormWrapper  button:hover {
  background-color: #8349f7;
  transition: 0.3s all ease-in-out;
}

@media only screen and (max-width: 550px) {
  .registerFormWrapper {
    margin: 90px 20px;
  }
}



