.mainContainer {
  padding: 15px 30px;
}

.usernameAvatarConatainer {
  display: flex;
  color: rgb(57, 127, 231);
}

.usrnameFavouriteCountConatainer {
  display: flex;
  justify-content: space-between;
}

.favouritesCount{
  border: 1px solid rgb(60, 163, 134);
  padding: 5px 5px;
}

.articleFooter {
  display: flex;
  justify-content: space-between;
}

.tagsContainer{
  display: flex;
}

.singleTag{
  padding: 5px;
  border: 1px solid #718096;
  margin-left: 8px;
  border-radius: 20px;
}