.mainContainer {
  margin: 25px 50px;
  border-bottom: 1px solid #718096;
  padding-bottom: 10px;
}

.usernameAvatarConatainer {
  display: flex;
  color: #718096;
}

.usrnameFavouriteCountConatainer {
  display: flex;
  justify-content: space-between;
}

.favouritesCount{
  border: 1px solid #718096;
  border-radius: 5px;
  padding: 5px 5px;
}

.articleFooter {
  display: flex;
  justify-content: space-between;
}

.tagsContainer{
  display: flex;
}

.singleTag{
  padding: 5px;
  border: 1px solid #718096;
  margin-left: 8px;
  border-radius: 5px;
}

.loaderWrapper {
  display: flex;
  justify-content: center;
}