.headingWrapper {
   background: rgb(50,50,50);
   color: white;
   padding: 20px 50px;
}

.usernameAvatarConatainerSingle {
  display: flex;
  margin-top: 20px;
}

.favouriteCounterSingleArticle {
  border: 1px solid white;
  border-radius: 3px;
  padding: 5px;
  margin-left: 20px;
  color: white;
  display: flex;
  height: 80%;
  align-items: center;
}

.bodyWrapper {
  margin: 30px 50px;
}

@media (max-width: 550px) {
  .headingWrapper {
    padding: 20px 30px;
 }
 .bodyWrapper {
  margin: 30px 30px;
}
}